/* Error: expected "{".
 *   ,
 * 1 | neosloth@DESKTOP-C4FGO2J.5316:1603746639
 *   |                                         ^
 *   '
 *   scss\.#_index.scss 1:41  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 1 \2502  neosloth@DESKTOP-C4FGO2J.5316:1603746639\a   \2502                                          ^\a   \2575 \a   scss\\.#_index.scss 1:41  root stylesheet';
}
