.about-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    padding: 2em;
}

.about-container > div {
    background: #eee;
    padding: 1em;
    text-align: center;
}

.about-container > div:nth-child(odd) {
    background: #ddd;
}

/*------------Box 1------------*/

.box1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.box1 img{
    max-width: 800px;
}


/*------------Box 2------------*/

.box2 {
    font-size: 1.5em;
    opacity: 70%;
    grid-column: 2;
    grid-row: 1/2;
    justify-self: auto;
    align-self: center;
}


/*------------Box 3------------*/

.box3 {
    justify-self: center;
}


/*------------Box 4------------*/

.box4 {
    font-size: 1.5em;
    opacity: 70%;
    grid-column: 1;
    grid-row: 2;
    justify-self: auto;
    align-self: center;
}


/*------------Box 5------------*/

.box5 {
    grid-column: 2;
    grid-row: 2;
}

.box5 img{
    grid-column: 1;
    max-width: 500px;
}

/*------------Box 6------------*/

.box6 {
    justify-self: center;
}

.box6 img{
    max-width: 500px;
}

.box7 {
    font-size: 1.5em;
    opacity: 70%;
    grid-column: 2;
    grid-row: 3 / span 2;
    justify-self: auto;
    align-self: center;
}