@import 'questionnaire';

body{
    font-family: $font-primary;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
a.dropdown-item:hover {
    color: $color-secondary;
}
#products {
    font-size: 50px;
    color: black;
    font-family: $font-primary;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }

.row > div[class*='col-'] {
    display: flex;
  }
.card-title {
text-align: center;
}
.card {
border: none;
}
.sidenav {
  width: 200px;
  position: relative;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #F6F6F6;
  overflow-x: hidden;
  padding: 8px 0;
   }
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  
   }
  .line{
  width: 280px;
  height: 0px;
  left: 70px;
  top: 432px;
  border: 0.5px solid #7B7B7B;
  }
  .products-container{
    margin-left: 120px;
  }
