.headings {
    h3 {
        font-size: 30px;
    }
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #7b7b7b;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}


/*Order container includes bootstrap cards of items in the cart and an order summary. 
Each card contains card-item-image and card-body (with card-item-name, card-item-details, card-item-size, card-item-quantity, cancel-item). 
Clickable components are card-item-quantity and cancel-item*/

#order-container {
    display: flex;
    justify-content: space-between;
}

#products-cart {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 75%;
}

#card-item-image {
    width: 25%;
}

.bananasplit-card {
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 75%;
}

#cart-item-details {
    padding: 10%;
    width: 75%;
}

#cancel-item {
    position: relative;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

#products-cart {
    .card-body {
        text-align: left;
    }
}


/*order-summary is displayed on the right with a running total of items in the cart.  Includes a checkout button that toggles checkout-form*/

#order-summary {
    background-color: $grey-background;
    padding: 3%;
    width: 25%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
}

#products-cart {
    display: flex;
}

.summary-item {
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.button {
    @include blue-button;
    width: 100%;
}

#promo-code-field {
    margin-bottom: 10px;
}

#cart-item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

#promoField {
    padding-top: 0px;
}


/*checkout form styling*/

#payment-type {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: $grey-background;
}

input {
    padding-bottom: 15px;
}


/*purchase success message*/

#purchaseSuccess {
    position: relative;
    text-align: center;
    color: white;
}

#purchaseMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}