 #specifications-container {
     background-color: $grey-background;
 }
 
 #tech-details {
     margin-top: 5em;
     padding: 10em 3em 10em 3em;
 }

 .product-details {
     @include flex-responsive;
 }
 
 .spec-image {
     width: 300px;
 }
 
 .carousel-indicators li {
     width: 10px;
     height: 10px;
     border-radius: 100%;
 }
 
 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     filter: invert(1);
 }
 
 #adderButton {
     @include blue-button;
 }
