footer {
    background-color: $color-primary;
}

.footer-top{
    background: $color-primary;
}

/*---------------FOOTER TITLES (CustCare, Brand, Orders)----------------*/

footer h5 {
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.segment-one, .segment-two, .segment-three {
    padding-top: 35px;
}

/*---------------FOOTER SUBLINKS (Warr, Returns, FAQ, About, Privacy, Contact etc...----------------*/

.segment-one ul, .segment-two ul, .segment-three ul {
    padding-left: 0;
}

footer ul {
    text-align: center;
    justify-content: center;
}

footer li {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

footer li a:hover {
    color: #b0b0b0;
    transition: 0.6s ease-in;
}

/*---------------SEGMENT FOUR - SOCIAL----------------*/

.segment-four a {
    background: #494848;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}

.segment-four ul {
    display: flex;
    padding-left: 0;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.segment-four a i {
    font-size: 18px;
    color: white;
    padding: 10px 12px;
}

/*---------------SEGMENT FOUR - SUBSCRIBE FORM----------------*/

.segment-four form input[type="submit"] {
    background: #7e8a97;
    border: none;
    padding: 3px 15px;
    text-transform: uppercase;
    margin: 5px;
    padding-left: 43px;
    padding-right: 44px;
}

footer form {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

input {
    padding-bottom: 0px;
}
