#landing{
    background-image: url("../img/hero-image-lg.png");
    background-size: cover;
    min-height: 800px;
    margin-bottom: 1em;

    a{
        color: white;
    }

    a.dropdown-item {
        color: black
    }

    a:hover, a.dropdown-item:hover {
        color: $color-secondary;
    }
}

#index-content {
    text-align: center;

    h1{
        font-size: 1.5em;
    }

    #latest-products {
        display:flex;
        justify-content: center;

        figcaption{
            font-size: 1em;
        }
    }
}
