#landing{
    background-image: url("../img/hero-image-lg.png");
    background-size: cover;
    // Try to focus on the snowboarder on smaller screens
    background-position: 60% 25%;
    min-height: 80vh;

    a{
        color: black;
    }

    a.dropdown-item {
        color: black;
    }

    a:hover, a.dropdown-item:hover {
        color: $color-secondary;
    }

    .fa-search, .fa-user-circle, .fa-shopping-cart {
        color: white;
    }

    // Increase the element width on larger screens
    @media screen and (min-width: 768px){
        background-position: center;
    }

    @media screen and (max-width: 768px){
        background-position: center;
        a{
            color: white;
        }
    }
    
}

#index-content {
    text-align: center;

    h1{
        font-size: 1.5em;
    }

    #latest-products {
        @include flex-centered;
        @include flex-responsive;
        flex-wrap: wrap;
        align-content: center;

        // Force only 3 items to be displayed per row
        a {
            flex: 1 0 30%;
        }

        figure img {
            max-width: 300px;
        }

        figcaption{
            text-align: center;
            font-size: 1em;
        }
    }
}

#image-links{
    @include flex-centered;
    @include flex-responsive;

    #ski-hero, #snowboard-hero {
        min-height: 400px;
        min-width: 300px;
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
        background-size: cover;
        background-position: center;
        margin: 1em;
        padding: 1em 3em 1em 3em;

        // Increase the element width on larger screens
        @media screen and (min-width: 768px){
            min-width: 400px;
        }

        p {
            @include blue-button;
            width:100%;
        }

        p:hover{
            color: $color-secondary;
        }
    }

    #ski-hero{
        background-image: url("../img/shop-snowboard-lg-cropped.jpg")
    }

    #snowboard-hero {
        background-image: url("../img/shop-ski-lg-cropped.jpg");
    }

}

#statement-container{
    min-height: 500px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;

    #landing-statement {
        background-color: rgba(255,255,255,0.5);
        min-height: 300px;
        max-width: 300px;
        margin-right: 15%;
        text-align: center;
        font-size: 1.5em;
        padding: 50px 0;
    }
}
