/*blue button for form submissions*/

@mixin blue-button {
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@mixin flex-centered{
    display: flex;
    justify-content: center;
}

@mixin flex-responsive{
    flex-direction: column;
    /* Large devices (desktops, 992px and up) */
    @media (min-width: $desktopWidth) {
        flex-direction: row;
    }
}
