/*blue button for form submissions*/

@mixin blue-button {
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

@mixin flex-centered{
    display: flex;
    justify-content: center;
}
