.card-body {
    border: none;
    text-align: center;
    margin: 25px;
}

#products {
    font-size: 50px;
    color: black;
}

.card-title {
    text-align: center;
}

.card {
    border: none;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: $grey-background;
    // overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
//
d.products-container {
    margin-left: 120px;
}
.dropdown-menu{
background-color:$grey-background;
}
.btn-secondary {
    color: black !important;
    background-color: $grey-background !important;
    border-color: $grey-background !important;
}