
form {
  text-align: center;
  letter-spacing: $spacing;
}

.q-field {
  padding: 4em 1em;
  height: auto;
  border-radius: 0px;
  background: $grey-background;
  border: 1px solid $grey-background;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.selected {
  background: rgba($color: $color-primary, $alpha: 0.5);
  &:hover {
    opacity: 1;
  }
}