$color-primary: #5384A0;  //  rgba($color: $color-primary, $alpha: 0.5); <- if you need the color and change the opacity
$color-secondary: #C4C4C4;

$grey-background: #F6F6F6;


@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css2?family=Galdeano&display=swap";
$font: 'Galdeano', sans-serif;
$spacing: 0.12em; /* letter-spacing: $spacing */

$line-height: 1.2;
$padding: 15px;
@function em($px, $bd:16) {
    @return #{$px / $bd}em;
}

$desktopMedium: em(1250);
//Defining media query tempalates
$screen: "only screen";
$desktop-only: "#{$screen} and (min-width: #{$desktopMedium})";

$desktopWidth: 992px;
