<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="index.html"><img alt="Logo" src="./img/logo-cropped.svg" width="150" height="100"/></a>
  <ul class="col-xs-4 navbar-nav mx-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="products.html">Shop</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="products.html" onclick="setCategory('skis')">Skis</a>
        <a class="dropdown-item" href="products.html" onclick="setCategory('snowboards')">Snowboards</a>
        <a class="dropdown-item" href="products.html" onclick="setCategory('all')">All</a>
      </div>
      <!-- Dropdown links -->
    </li>
    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
    <li class="nav-item"><a class="nav-link" href="questionnaire.html">Find My Ride</a></li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fas fa-search"></i></a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fas fa-user-circle"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="checkout.html"><i id="cart" class="fas fa-shopping-cart"></i><span id="cart-count">12</span></a></li>
  </ul>
</nav>
